* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins';
}

.top-bar {
    min-width: 50%;
    min-height: 5vh;

    margin: 0 auto;

    background-color: black;
    color: rgb(21, 164, 247);
}

.top-bar p {
    width: fit-content;
    margin: 0 auto;
    line-height: 5vh;
}

/*sign up bar*/

.signup-bar {
    min-width: 100%;
    height: 4.5vh;

    background-color: rgb(190, 10, 245);
}

.btns {
    height: 100%;

    display: flex;
    justify-content: flex-end;

    margin-right: 40px;
}

.btns button {
    height: 100%;

    padding: .25em;
    margin: 0 10px;

    font-family: 'Poppins';
    background: none;
    border: none;

    cursor: pointer;
}

.btns button:hover {
    border: 1px solid;
}

/* LOGO BAR */

.logo-bar {
    width: 100%;
    height: 19vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'top'
    'bottom';

}

.top {
    grid-area: 'top';
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.top h3 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 40px;
    color: rgb(14, 183, 235);
}

.top h4 {
    color: blue;
}

.search-bar {
    width: 50%;
    height: 3em;
}

.search-bar::placeholder {
    font-family: 'Poppins';
}

.bottom {
    grid-area: 'bottom';
    display: flex;
    justify-content: space-evenly;
}

.bottom button {
    background: none;
    border: none;
}

.bottom button a {
    text-decoration: none;
    color: black;

    font-family: 'Poppins';
    font-size: 1.15em;
}

.bottom button a:hover {
    text-decoration: underline;
}

.clearpay {
    min-width: 100%;
    height: 11vh;
    background-color: lightgray;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.75fr;
    grid-template-areas: 
    'clear' 'sale' 'klarna'
    'clear' 'sale' 'klarna';

    text-align: center;
}

.clear {
    grid-area: 'clear';
}

.clear h4 {
    font-size: 1.5rem;
}

.sale {
    grid-area: 'sale';
    background-color: black;
    height: 11vh;
}

.sale h4 {
    font-size: 1.5rem;
    color: white;
}

.sale p {
    color: white;
}

.klarna {
    grid-area: 'klarna';
}

.klarna h4 {
    font-size: 1.5rem;
}

/* OPENING IMAGES */

.opening-images {
    min-width: 100%;
    height: 60vh;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    'mens' 'kids' 'womens';

}

.mens-open {
    width: 100%;

    grid-area: 'mens';

    background: url(Mens-opening-image.jpg);
    background-size: cover;
}

.mens-open h3 {
    width: 100%;
    height: 100%;

    font-size: 50px;
    font-weight: 300;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
}

.kids-open {
    width: 100%;

    grid-area: 'kids';

    background: url(kids-opening-image.jpg);
    background-size: cover;
}

.kids-open h3 {
    width: 100%;
    height: 100%;

    font-size: 50px;
    font-weight: 300;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
}

.womens-open {
    width: 100%;

    grid-area: 'womens';

    background: url(womens-opening-image.jpg);
    background-size: cover;
}

.womens-open h3 {
    width: 100%;
    height: 100%;

    font-size: 50px;
    font-weight: 300;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
}

.mens-open h3:hover,.kids-open h3:hover, .womens-open h3:hover {
    opacity: 1;
}

.mens-open:hover, .kids-open:hover, .womens-open:hover {
    background-color: rgba(128, 0, 128, 0.5);
    background-blend-mode: multiply;

    cursor: pointer;
}

/* FAVE BRANDS BOX */

.fave-brands-box {
    min-width: 100%;
    height: 45vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'header'
    'circles';
}

.fave-brands-box h2 {
    grid-area: 'header';

    text-align: center;

    line-height: 20vh;
}

.fave-cirlces {
    grid-area: 'cirlces';
}

.circ-imgs {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}

.boss, .moschino, .kenzo, .dior, .stone, .kors {
    width: 150px;
    height: 150px;
   
    border-radius: 50%;
}

.boss:hover, .moschino:hover, .kenzo:hover, .dior:hover, .stone:hover, .kors:hover {
    transform: rotate(20deg);
    cursor: pointer;
}

.boss {
    background: url(hugo.jpg);
    background-size: cover;
    background-position-x: -50px;
}

.moschino {
    background: url(moschino.jpg);
    background-size: cover;
}

.kenzo {
    background: url(kenzo.jpg);
    background-size: cover;
}

.dior {
    background: url(dior.jpg);
    background-size: cover;
}

.stone {
    background: url(stone.jpg);
    background-size: cover;
}

.kors {
    background: url(kors.jpg);
    background-size: cover;
}

/* DEALS ---------*/

.deals {
    min-width: 100%;
    height: 50vh;

    position: relative;
    top: 80px;

    background: url(hisandhers.jpg);
    background-size: cover;
    background-position-y: -50px;
}

.deals h1 {
    width: 95%;
    height: 100%;

    margin: auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-family: 'Petit Formal Script', cursive;
    font-size: 3em;

}

/* SHOP THESE */

.shop-these {
    min-width: 100%;
    height: 45vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'header'
    'circles';

    position: relative;
    top: 100px;
}

.shop-these-header h2 {
    grid-area: 'header';

    text-align: center;

    line-height: 20vh;
}

.shop-these-cirlces {
    grid-area: 'cirlces';
}

.shop-circ-imgs {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}

.mens, .womens, .kids, .smart, .sports, .accessories {
    width: 150px;
    height: 150px;
   
    border-radius: 50%;
}

.mens p, .womens p, .kids p, .smart p, .sports p, .accessories p {
    width: 100%;
    height: 100%;

    font-size: 50px;
    font-weight: 300;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    cursor: pointer;
}

.mens p:hover, .womens p:hover, .kids p:hover, .smart p:hover, .sports p:hover, .accessories p:hover {
    opacity: 1;
    cursor: pointer;
}

.mens {
    background: url(mens.jpg);
    background-size: cover;
}

.mens p {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 1.7rem;

    font-weight: 900;
}

.womens {
    background: url(womens.jpg);
    background-size: cover;
}

.womens p {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 1.7rem;

    font-weight: 900;
}

.kids {
    background: url(kids.jpg);
    background-size: cover;
}

.kids p {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 1.7rem;

    font-weight: 900;
}

.smart {
    background: url(smart.jpg);
    background-size: cover;
}

.smart p {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 1.7rem;

    font-weight: 900;
}

.sports {
    background: url(sport.jpg);
    background-size: cover;
    background-position-x: -30px;
}

.sports p {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 1.7rem;

    font-weight: 900;
}

.accessories {
    background: url(accessories.jpg);
    background-size: cover;
}

.accessories p {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 1.7rem;

    font-weight: 900;
}

/* BANNER */

.banner {
    min-width: 100%;
    height: 8vh;

    position: relative;
    top: 180px;

    background-color: black;
}

.banner h3 {
    width: 100%;
    height: 100%;

    color: rgb(109, 109, 245);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Nike Range Box */

.nike-range-box {
    min-width: 100%;
    height: 60vh;

    position: relative;
    top: 180px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    'one' 'two' 'three';
}

.one {
    background: url(nike-one.jpg);
    background-size: cover;
}

.two {
    background: url(nike-three.jpg);
    background-size: cover;
}

.three {
    background: url(nike-two.jpg);
    background-size: cover;
}

.one:hover, .two:hover, .three:hover {
    background-color: rgba(128, 0, 128, 0.5);
    background-blend-mode: multiply;

    cursor: pointer;
}

/* Banner 2 */

.banner-two {
    min-width: 100%;
    height: 8vh;

    position: relative;
    top: 230px;

    background-color: black;
}

.banner-two h3 {
    width: 100%;
    height: 100%;

    color: rgb(109, 109, 245);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* womens shoes */ 

.womens-shoes {
    min-width: 100%;
    height: 60vh;

    position: relative;
    top: 230px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    'wo-one' 'wo-two' 'wo-three';
}

.wo-one {
    background: url(louisvuitton.jpg);
    background-size: cover;
}

.wo-two {
    background: url(alexander.jpg);
    background-size: cover;
    background-position-y: -150px;
}

.wo-three {
    background: url(balenciaga.jpg);
    background-size: cover;
}

.wo-one:hover, .wo-two:hover, .wo-three:hover {
    background-color: rgba(128, 0, 128, 0.5);
    background-blend-mode: multiply;

    cursor: pointer;
}

/* end circles */

.end-circles-box {
    min-width: 100%;
    height: 45vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'header'
    'circles';

    position: relative;
    top: 240px;
}

.end-circles-header h2 {
    grid-area: 'header';

    text-align: center;

    position: relative;
    top: 50px;
}

.end-cirlces {
    grid-area: 'cirlces';
}

.end-circ-imgs {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}

.suit-one, .dress-one, .suit-two, .dress-two, .suit-three, .dress-three {
    width: 150px;
    height: 150px;
   
    border-radius: 50%;
}

.suit-one:hover, .dress-one:hover, .suit-two:hover, .dress-two:hover, .suit-three:hover, .dress-three:hover {
    transform: rotate(-20deg);
    cursor: pointer;
}
  

.suit-one {
    background: url(suit.jpg);
    background-size: cover;
}

.dress-one {
    background: url(dress.jpg);
    background-size: cover;
}

.suit-two {
    background: url(suit-two.jpg);
    background-size: cover;
}

.dress-two {
    background: url(dress-two.jpg);
    background-size: cover;
}

.suit-three {
    background: url(suit-three.jpg);
    background-size: cover;
}

.dress-three {
    background: url(dress-three.jpg);
    background-size: cover;
    background-position-x: -50px;
}

/* SIGN ME UP */

.sign-me-up {
    width: 80%;
    height: 40vh;

    margin: 0 auto;

    background-color: lightblue;
    box-shadow: 10px 10px rgba(0, 0, 255, 0.678);

    position: relative;
    top: 320px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    'top-end'
    'middle-end'
    'bottom-end';
}

.top-end {
    width: 100%;
    height: 100%;

    grid-area: 'top-end';

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.middle-end {
    width: 100%;
    height: 100%;

    grid-area: 'middle-end';

    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-end {
    width: 100%;
    height: 100%;

    grid-area: 'bottom-end';

    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-end input {
    width: 30%;
    height: 2rem;

    position: relative;
    top: -20px;
}

.bottom-end button {
    height: 2.21rem;
    position: relative;
    top: -20.5px;

    cursor: pointer;
}

/* FOOTER */ 

footer {
    min-width: 100%;
    height: 50vh;

    position: relative;
    top: 390px;


    background-color: rgba(240, 12, 248, 0.185);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 3fr 0.5fr;
    grid-template-areas: 
    'f-one' 'f-two' 'f-three' 'f-four'
    'copyright';
}

footer h3 {
    text-align: center;
    margin: 30px;
}

.f-one ul, .f-two ul, .f-three ul, .f-four ul {
    list-style-type: none;
    text-align: center;

    font-size: 0.8em;
}

footer ul li {
    margin: 10px;
}

.copyright {
    grid-area: 'copyright';

   margin-left: 80px;
}

footer ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}